/* General */
* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #2F303A;
    color: antiquewhite;
    overflow-x: hidden;
}

/* Main */
.main{
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.grid-block-girl{
    margin-right: 4em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.grid-block-main{
    padding: 2em;
}
.main-button{
    background-color: #1762A7;
    color: white;
    padding: 14px 20px;
    margin-top: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.main-button:hover{
    background-color: #2180d8;
}
.img-girl{
    height: 84vh;
    z-index: 10;
}
.circle5{
    position: absolute;
    height: 20em;
    width: 20em;
    background-color: #bc3a801a;
    border-radius: 50%;
    left: 0;
}
.circle4{
    position: absolute;
    height: 20em;
    width: 20em;
    background-color: #3457b21a;
    border-radius: 50%;
    transform: translate(-100px, -150px);
}
.circle3{
    position: absolute;
    height: 28em;
    width: 28em;
    background-color: #3457b21a;
    border-radius: 50%;
    right: 0;
    transform: translate(100px, 50px);
    overflow: hidden;
}



/* Discover */
.discover{
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover{
    width: 100%;
    height: 50vh;
    display: block;
    z-index: 10;
}
.grid-block{
    margin: 2em;
}
.grid-simbol{
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #202027;
    padding: 0.9em;
    margin-left: 1em;
    height: 3.5em;
    width: 3.5em;
    text-align: center;
}
.simbol{
    height: 2em;
    width: 100%;
}
.link-discover{
    color: aliceblue;
}

/* Join */
.join {
    height: 84vh;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle1{
    position: absolute;
    height: 25em;
    width: 25em;
    background-color: #bc3a801a;
    border-radius: 50%;
    left: 0;
    transform: translate(-100px, 50px);
}
.circle2{
    position: absolute;
    height: 15em;
    width: 15em;
    background-color: #3457b21a;
    border-radius: 50%;
    left: 0;
    transform: translate(300px, -100px);

}
.text-join{
    font-weight: bolder;
}
.acent{
    color: #BC3A80;
}
.form{
    background-color: #202027;
    margin: 3em;
    padding: 2em;
    border-radius: 15px;
    width: 25em;
    font-weight: bold;
    z-index: 1;
}
.input{
    width: 100%;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    background-color:#202027;
    border: #1762A7 1px solid;
    border-radius: 4px;
}
.button-form{
    width: 100%;
    background-color: #1762A7;
    color: white;
    padding: 14px 20px;
    margin-top: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.button-form:hover{
    background-color: #2180d8;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 10vh;
    /* position: fixed; */
    /* width: 100%; */
    z-index: 100;
   }
.logo {
    vertical-align: middle;
   }
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
.nav-link-main{
    color: aliceblue;
}
.nav-link{
    display: block;
    padding: 1em;
    color: aliceblue;
}
.nav-link:hover{
    background-color: #202027;
}

/* Footer */
.footer{
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #202027;
    width: 100%;
    z-index: 10;
}
.items-footer {
    display: flex;
    gap: 1em;
    font-weight: bold;
}

/* media queries */
@media (min-width: 600px) {
    .navbar{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .grid-block-girl {
      display: none;
    }
    .circle1{
        height: 5em;
        width: 5em;
    }
    .circle2{
        height: 4em;
        width: 4em;
    }
    .circle3{
        height: 6em;
        width: 6em;
        transform: translate(-30px, 250px);
    }
    .circle4{
        height: 4em;
        width: 4em;
    }
    .circle5{
        height: 7em;
        width: 7em;
    }
    .footer{
        padding: 1px;
    }
    .items-footer{
        font-size: 10px;
        gap: 1rem;
    }
    .discover{
        margin-top: 5em;
        margin-bottom: 5em;
    }
  }
